.bottom-sheet {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    height          : 50px;
    background-color: #fff;
    padding         : 10px 20px;
}

.bottom-sheet .content {
    flex : 1;
    color: 000;
}

button {
    margin: 0 5px;
    color : black;
}